<!-- <nav [ngClass]="{'dark-mode': darkModeService.darkMode}">
  <div class="navbar-logo">
    <a href="">Sanjukta's website</a>
  </div>
  <div class="navbar-links">
    <a routerLink="" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="projects" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Projects</a>
  </div>
  <div class="dark-mode-toggle">
    <label class="switch">
      <input type="checkbox" (change)="toggleDarkMode()" [checked]="darkModeService.darkMode" />
      <span class="slider round"></span>
    </label>
  </div>
</nav>
<router-outlet></router-outlet> -->

<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">A</button>
        <div class="logo-text"  @fadeInOut *ngIf="collapsed">Angular</div>
        <button class="btn-close"  @rotate  *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <div class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routerlink]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
    </div>
</div>

