.container {
  padding: 20px 20px;
  background-color: var(--background-color);
  color: var(--font-color);
  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  // * Backgound Image
  background-image: var(--bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

@media (max-width: 768px) {
  .container{
    margin: 0;
  }
  app-project-card{
    padding: 0;
  }
}