.project-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 200px;
  height: 200px;
  height: auto;
}

.project-card h2 {
  margin: 10px 0;
}
