.project-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Content will stick to the bottom */
}

h2 {
  margin: 10px 0;
}

.content {
  padding: 10px;
}

.image {
  flex: 1; /* Takes up the remaining space */
  display: flex;
  align-items: center; /* Center image vertically */
  justify-content: center; /* Center image horizontally */
  overflow: hidden; /* Hide any overflowing content */

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
