:root {
  // Dynamic
  --background-color: white;
  --font-color: rgb(0, 0, 0);

  // Static
  --light: white;
  --dark: black;
  --main-color: #67ad5b
}

*{
  margin: 0;
  padding: 0;
  a{
    text-decoration: none
  }
  font-family: sans-serif;
}