.container {
  padding: 20px 20px;
  background-color: var(--background-color);
  color: var(--font-color);
  .person-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .container{
    margin: 0;
  }
  app-person-card{
    padding: 0;
  }
}