/* project-details.component.scss */

.project-details {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

  img {
    max-width: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
  }

  h2 {
    font-size: 24px;
    margin: 10px 0;
  }

  p {
    font-size: 16px;
    margin: 10px 0;
  }
}

/* Apply hover effect */
.project-details:hover {
  transform: scale(1.05);
}
