<div class="project-details" *ngIf="project">
  <h2 class="title">{{ project.name }}</h2>
  <p class="date">Date: {{ project.date }}</p>
  <img [src]="project.image" alt="Project Image" />

  <p>Description: {{ project.description }}</p>

  <div class="publications" *ngIf="publications && publications.length > 0">
    <h3>Publications:</h3>
    <ul>
      <li *ngFor="let publication of publications">{{ publication.title }}</li>
    </ul>
  </div>
  <div *ngIf="!publications || publications.length === 0">
    <p>No-publications</p>
  </div>
</div>
