<div style="width: 80%;">
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img style="height: 300px; width: auto;" src="../../../../assets/images/ali_khan.jpeg">
  </ng-template>
  <ng-template carouselSlide>
    <img style="height: 300px; width: auto;" src="../../../../assets/images/ali_khan.jpeg">
  </ng-template>
  <ng-template carouselSlide>
    <img style="height: 300px; width: auto;" src="../../../../assets/images/ali_khan.jpeg">
  </ng-template>
  <ng-template carouselSlide>
    <img style="height: 300px; width: auto;" src="../../../../assets/images/ali_khan.jpeg">
  </ng-template>
  <ng-template carouselSlide>
    <img style="height: 300px; width: auto;" src="../../../../assets/images/ali_khan.jpeg">
  </ng-template>
  
</owl-carousel-o>
</div>